@if(pokeDetail() === null) {
<div class="flex justify-center">
  <h1 class="text-4xl font-bold ">Loading....</h1>
</div>
}@else { @let myPokemon = pokeDetail()!;

<section class="flex flex-col justify-center">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold capitalize my-5">{{myPokemon.name}}</h1>
  </div>
</section>

<section class="flex flex-col justify-center items-center w-full">
  <img [src]="myPokemon?.sprites?.other?.['official-artwork']?.front_default" [alt]="myPokemon?.name" class="w-64 h-64"
    width="256px" height="256px" />

  @if(myPokemon.cries.latest !== null) {
  <audio controls class="my-5">
    <source [src]="myPokemon.cries.latest" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  } @else {
  <p class="my-5">No cry available</p>
  }
</section>

<section class="flex flex-col justify-center items-center w-full">
  <h2 class="text-2xl font-bold mb-4">Abilities</h2>
  <div class="flex flex-wrap items-center">
    <ul>
      @for ( ability of myPokemon.abilities; track ability.ability?.name) {
      <li class="text-lg capitalize">{{ability.ability?.name}}</li>
      }
    </ul>
  </div>

</section>
}
