<div class="w-screen h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right" style="max-width: 300px;">
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    <span>50+</span>
    <br>
    <span>340.0</span>
  </div>
</div>
<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <!-- <calculator-button isWhiteText (click)="handleClick('c')" handleClick> C </calculator-button> esto es una forma de proyectar contenido o evento -->
    <calculator-button isWhiteText (onClickButton)="handleClick($event)"> C </calculator-button>
    <calculator-button isWhiteText> +/- </calculator-button>
    <calculator-button isWhiteText> % </calculator-button>
    <calculator-button isCommand isCommand> ÷ </calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button isWhiteText>7</calculator-button>
    <calculator-button isWhiteText>8</calculator-button>
    <calculator-button isWhiteText>9</calculator-button>
    <calculator-button isCommand isWhiteText>x</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button isWhiteText>4</calculator-button>
    <calculator-button isWhiteText>5</calculator-button>
    <calculator-button isWhiteText>6</calculator-button>
    <calculator-button isCommand isWhiteText>-</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button isWhiteText>1</calculator-button>
    <calculator-button isWhiteText>2</calculator-button>
    <calculator-button isWhiteText>3</calculator-button>
    <calculator-button isCommand isWhiteText>+</calculator-button>
  </div>
  <div class="flex w-full">
    <calculator-button isWhiteText>0</calculator-button>
    <calculator-button isWhiteText>.</calculator-button>
    <calculator-button isCommand isWhiteText isDoubleSize>=</calculator-button>
  </div>
</div>
